<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h2>Welcome, {{ user.first_name }} {{ user.last_name }}!</h2>
    <p>Your email: {{ user.email }}</p>
    <p>Your Phone Number: {{ user.profile.phone_number }}</p>
    <p>Your Country: {{ user.profile.country }}</p>
    <p>Your Skills: {{ user.profile.skills }}</p>

    <a href="{% url 'auth_login' %}">Logout</a>
</body>
</html>
